# Step 1) Split data into sub-groups

In [1]:
%load_ext autoreload
%autoreload 2

In [26]:
from tsm.data_selector import split_data_file_by_column

In [29]:
split_data_file_by_column('data/comp/train.pkl', by='meter')

In [30]:
split_data_file_by_column('data/comp/test.pkl', by='meter')

## Checking

In [31]:
import pandas as pd

In [32]:
tr_mt0 = pd.read_pickle('data/comp/train_meter_0.pkl')

In [33]:
tr_mt0.head()

   building_id            timestamp  meter_reading
0            0  2016-01-01 00:00:00            0.0
1            1  2016-01-01 00:00:00            0.0
2            2  2016-01-01 00:00:00            0.0
3            3  2016-01-01 00:00:00            0.0
4            4  2016-01-01 00:00:00            0.0

In [34]:
tr_mt0.dtypes

building_id       uint16
timestamp         object
meter_reading    float32
dtype: object

In [35]:
ts_mt2 = pd.read_pickle('data/comp/test_meter_2.pkl')

In [36]:
ts_mt2.head()

            row_id  building_id            timestamp
16340505  16340505          745  2017-01-01 01:00:00
16340509  16340509          747  2017-01-01 01:00:00
16340515  16340515          750  2017-01-01 01:00:00
16340517  16340517          751  2017-01-01 01:00:00
16340521  16340521          753  2017-01-01 01:00:00

In [37]:
ts_mt2.dtypes

row_id         uint32
building_id    uint16
timestamp      object
dtype: object